<div class="container">
  
<h1>Rock paper scissors</h1>
<a href="/users/logout">Log Out</a>

{{#if message}}
  <div class="alert alert-success">{{message}}</div>
{{/if}}
<div class="container">

  <div class="row">

    <div class="col-lg-4 well">
      <h3>Player 1</h3>
      <h4 id="p1Username"></h4>
      <div class="choices" id="p1Choices" style="display:none;">
        <p class="choice">rock</p>
        <p class="choice">paper</p>
        <p class="choice">scissors</p>
      </div>
    </div>

    <div class="col-lg-4 well">
      <h3 id="messageHeader"></h3>
      <p id="messageText"></p>
    </div>

    <div class="col-lg-4 well">
      <h3>Player 2</h3>
      <h4 id="p2Username" ></h4>
       <div class="choices" id="p2Choices" style="display:none;">
        <p class="choice">rock</p>
        <p class="choice">paper</p>
        <p class="choice">scissors</p>
      </div>
    </div>

  </div>
</div>


</div>


<script src="/socket.io/socket.io.js"></script>
<script>

  let socket = io();
	let thisUser;
  let room;
  let loggedIn = true;
	console.log('Socket Connection:',socket, thisUser)
  $.ajax('/getInfo', {
    method: 'GET',
    success: function (data){
      thisUser = data.currentUser;
      console.log(data, 'data from /getInfo')
    }

  });
	
</script>
